<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@ViewData["PageTitle"]</h1>
    @{ 
        @using CoreWebEmpty.Models;
        var employee = ViewData["Employee"] as Employee;
    }

    <div>
        ID: @employee.ID
    </div>
    <div>
        Name: @employee.Name
    </div>
    <div>
        Email: @employee.Email
    </div>
    <div>
        Department: @employee.Department
    </div>

</body>
</html>